body {
    background-color: #021C36;
    color: #e7d535;
}

h1 {
    text-align: center;
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

.horizontal-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30%;
}

.digimon-preview {
    min-width: 150px;
    padding: 1%;
    background-color: #01204D;
    display: inline-block;
    text-align: center;
}